<div class="container">
    <table class="table table-bordered">
        <thead>
            <th>Id</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Profile </th>
        </thead>
        <tr *ngFor="let obj of userObjects">
            <td>{{obj.id}}</td>
            <td>{{obj.email}}</td>
            <td>{{obj.first_name}}</td>
            <td>{{obj.last_name}}</td>
            <td> <img [src]=obj.avatar alt=""></td>
        </tr>
    </table>
</div>