<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h2>Contact Us</h2>
<div>
    <form action="">
        <label for="">Email Id</label> <br>
        <input type="email" class="form-control"> <br>
        <div class="form-group">
            <label for="feedback">Feedback:</label>
            <textarea class="form-control" rows="5" id="feedback"></textarea>
          </div>
          <button type="submit" class="btn btn-success form-control" 
          style="height: 40px; width: 100px;">Submit!</button>

    </form>
</div>
    </div>
    <div class="col-3"></div>
</div>
